/* MENU FULL-SCREEN */
@import "./menu-fullscreen.css";
:root {
  --violet: #5f356f !important;
}

body {
  font-family: "SegoeUI", sans-serif;
  font-size: 1.08em;
  font-weight: 400;
}

body p {
  font-size: 13px;
  line-height: 13px;
}

a {
  color: var(--violet);
  text-decoration: none;
  background-color: transparent;
  transition: all 0.2s ease;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 0.9em;
}

a:hover {
  color: var(--violet);
  text-decoration: underline;
}

.nav-link.active {
  font-weight: bold;
}

.nav-link.active i {
  display: inline-block !important;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  /* line-height: 1em; */
}

.widget ul li {
  list-style: none;
  line-height: 1em;
  margin-bottom: 0.7em;
}

.publicacoes-legais {
  background: #fcf6eb;
}

.alert {
  position: relative;
  padding: 0;
}

.alert p {
  padding-top: 0.5rem;
  margin-bottom: 0.15rem;
}

.alert strong:first-child {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
}

.telefones-uteis {
  z-index: -1;
}

.text-purple,
.text-violet {
  color: var(--violet);
}

.icon-calendar {
  float: left;
  background: white;
  width: 100%;
  height: auto;
  padding: 4px 0 0;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
  font-weight: 900;
  font-family: "SegoeUI", sans-serif;
  max-width: 60px;
  line-height: 25px;
  height: auto;
}

.icon-calendar span {
  background: var(--violet);
  border: 1px solid var(--violet);
  width: 100%;
  height: auto;
  margin-top: 6px;
  color: white;
  font-size: 11px;
  line-height: 16px;
  font-weight: 900;
  font-family: "SegoeUI", sans-serif;
  border-radius: 0 0 3px 3px;
}

.page-header h1 .small,
.page-header h1 small {
  font-size: 40%;
  font-weight: 400;
  line-height: 1em;
}

.page-header a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

/* BUTTONS */
.btn-simple {
  padding: 0;
  font-size: 11px;
}

.btn-simple:hover {
  /*     font-weight: 600; */
}

.btn-simple i.fas,
.btn-simple i.fab,
.btn-simple i.fa,
#top-menu a i,
a i.fa-long-arrow-alt-right,
a i.fa-long-arrow-alt-left {
  padding: 0;
  margin-right: 3px;
  transition: 0.2s all ease;
}

.btn-simple:hover i,
a:hover i {
  transform: translateX(3px);
}

#top-menu .btn-simple:hover i,
#top-menu a:hover i {
  transform: translateX(-1px);
}

#top-menu a i {
  font-size: 18px;
  /* line-height: 18px; */
}

a:hover i.fa-long-arrow-alt-left {
  transform: translateX(-3px);
}

a:hover > h3 i {
  transform: translateX(6px);
}

.navbar-brand {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #707070;
  font-size: 16px;
  line-height: 16px;
}

.navbar-brand img {
  padding-right: 11px;
  margin-right: 11px;
  border-right: 1px solid black;
  float: left;
  width: auto;
}

.navbar-brand.small {
  font-size: 10px;
}

.navbar-brand.alt {
  margin-top: 7px;
  margin-left: 20px;
}

.navbar-brand.alt img {
  padding-right: 0px;
  margin: -10px 0 0 0;
  border-right: none;
  /*     float: left; */
  /*     max-height: 50px; */
  height: 100px;
}

#right-sidebar {
  box-shadow: -30px 0px 30px -50px black;
  padding: 0 30px 50px 30px;
}

#primary {
  padding: 0 50px 0px 30px;
}

.bg-milk {
  background: #fcf6eb;
}

.bg-lightviolet {
  background: #ecdff1;
}

.text-violet {
  color: var(--violet);
}

.title-area h1 {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}

h1.title {
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 25px;
}

h2.title {
  font-size: 20px;
  line-height: 22px;
}

h3.title {
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 18px;
}

h4.title {
  font-size: 17px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

/* HEADER / NAVBAR */
.navbar {
  background-image: url(../img/shape_1.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.navbar-light .navbar-toggler {
  color: #f8f9fa !important;
  border-color: transparent;
  padding: 0;
  margin-top: -28px;
  /* position: relative; */
}

.navbar-light .navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler-icon {
  /* margin-top: -35px; */
  /*  right: 10px;
    position: absolute; */
  width: auto;
  height: auto;
  vertical-align: middle;
  font-family: "Fontawesome";
  background: no-repeat center center;
  background-size: 100% 100%;
  font-size: 25px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  content: " ";
  top: 0;
}

.carousel-caption {
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 0px;
  color: #fff;
  text-align: left;
  text-shadow: 0px 2px 2px black;
  line-height: 10px;
  width: 100%;
  right: 0;
}

.carousel-caption h5 {
  font-size: 40px;
  line-height: 40px;
  font-family: SegoeUI;
  font-weight: 600;
  text-transform: uppercase;
}

.carousel-caption p {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  font-family: SegoeUI;
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
}

.carousel-indicators {
  display: none;
}

.transparencia {
  color: white;
}

.transparencia.bg-01 {
  background-image: url(../img/background_section_home.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.transparencia h3 {
  font-family: SegoeUI;
  font-size: 25px;
  font-weight: 600;
}

.transparencia p {
  font-family: SegoeUI;
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
}

/* LEIS MUNICIPAIS */
.leis {
  color: white;
  background-image: url(../img/background_section_leis_home.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-bottom: 0;
}

.leis::after {
  width: 100%;
  height: 250px;
  margin-top: -200px;
  bottom: 0;
  /* content: " "; */
  display: flex;
  background: aquamarine;
  /*     position: absolute; */
  z-index: -10000;
}

.leis h3 {
  font-family: SegoeUI;
  font-size: 17px;
  font-weight: 600;
}

.leis p {
  font-family: SegoeUI;
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
}

/* EVENTOS */
.events {
  padding: 0;
}

.events li {
  list-style: none;
  display: flex;
  /* width: 100vw; */
  margin-bottom: 20px;
  align-items: start;
}

.events li a {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.events li h4 {
  color: black;
  font-weight: 900;
  font-family: SegoeUI;
  font-size: 13px;
  text-transform: uppercase;
}

.bg-03 {
  background-color: #ffffff;
}

.events li small {
  font-size: 8px;
  padding: 0;
  line-height: 8px;
  margin: 0;
  color: var(--violet);
}

/* PUBLICAÇÕES LEGAIS */
.publicacoes {
  columns: 2;
}

.publicacoes li {
  font-size: 13px;
  margin-bottom: 4px;
}

/* HOME INFORMATIVOS */
article {
  padding: 0;
}

article:hover a.more {
  display: block !important;
}

article h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 17px;
}

article h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bolder;
  margin-bottom: 0;
  padding: 0;
  line-height: 13px;
}

article small {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 8px;
  color: #959595;
  font-weight: 400;
  line-height: 8px;
}

article span.category {
  color: var(--violet);
  font-size: 8px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  display: flex;
  width: 100%;
}

article a {
  transition: all 0.25s ease;
}

.weatherwidget-io {
  width: 100%;
  /* height: 50vh !important; */
}

footer.mastfoot {
  background-image: url(../img/footer_bg.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: #52266221;
  padding-top: 30px;
  padding-bottom: 3px !important;
  margin-bottom: 0;
}

footer strong {
  font-weight: 600;
}

footer .social {
  margin: 0;
}

footer .social a i {
  font-size: 17px;
  color: var(--violet);
  margin: 0 5px;
}

footer ul li {
  font-size: 12px;
  line-height: 12px;
  margin: 0 0 8px 0;
  padding: 0;
}

footer ul li a {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 11px;
  color: #00000050 !important;
  line-height: 14px !important;
  margin: 0;
  padding: 0;
}

.powered-by-mav {
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
}

.powered-by-mav small {
  font-size: 11px;
  font-weight: 900;
}

.powered-by-mav a img {
  max-height: 12px;
  font-weight: 900;
  opacity: 0.5;
}

footer .copyright a {
}

.hentry p {
  /* font-family: 'Opens Sans'; */
  /* font-size: 1em; */
  /*     margin-bottom: 50px; */
}

.hentry h1 {
  font-family: "SegoeUI", sans-serif;
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.hentry ul {
  margin-bottom: 2rem;
}

.hentry ul li {
  list-style: none;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1em;
  letter-spacing: -0.2px;
}

h1.page-title {
  font-family: "SegoeUI", sans-serif;
  font-weight: 600;
  font-size: 2.4em;
  text-transform: uppercase;
}

.hentry .h2,
.hentry h2 {
  font-family: "SegoeUI", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

.hentry .h3,
.hentry h3 {
  font-family: "SegoeUI", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1em;
}

.hentry ul li a i {
  margin-right: 08px;
  margin-bottom: 6px;
}

.widget-title {
  font-family: "SegoeUI", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.two-cols {
  column-count: 2;
}

.btn-primary {
  color: #fff;
  background-color: #633773;
  border-color: #593069;
}

aside {
  margin-bottom: 35px;
}

.wp-block-file {
  margin-bottom: 1.5em;
}

/* WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.entry-content img {
  border-radius: 3px;
  box-shadow: 0px 15px 50px -30px #000000db;
}

.attachment-large,
.wp-post-image {
  border-radius: 3px;
  box-shadow: 0px 15px 50px -30px black;
  max-width: 100%;
  height: auto;
  margin: 0 auto 30px auto;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

img.size-full,
img.size-large {
  max-width: 100%;
  height: auto;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* PAGINATION */
.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.pagination .page-item {
  margin: 0 4px;
}

.page-link {
  position: relative;
  display: block;
  padding: 1rem 0px;
  margin-left: -1px;
  line-height: 1;
  color: #461b56;
  background-color: #fff;
  border: 1px solid #421951;
  border-radius: 30px !important;
  font-size: 0.8em;
  width: 49px;
  text-align: center;
}

.page-link.dots {
  position: relative;
  display: block;
  padding: 1rem 0px;
  margin-left: -1px;
  line-height: 1;
  color: #461b56;
  background-color: #fff;
  border: none;
  border-radius: 30px !important;
  font-size: 0.8em;
  width: 49px;
  text-align: center;
}

.page-item.active .page-link,
.page-link:hover:not(.dots) {
  z-index: 1;
  color: #fff;
  background-color: #461b56;
  border-color: #431950;
}

/* LICITAÇÕES */
.licitacao .entry-meta {
  font-size: 0.8em;
}

.licitacao:hover {
  /* border: black 1px solid; */
}

/* SHADOWS */
.shadow {
  transition: all 0.25s ease-in-out;
}

/* ICONS */
a[href$=".doc"]:not(.wp-block-file__button)::before,
a[href$=".docx"]:not(.wp-block-file__button)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1c2";
  margin-right: 15px;
  display: inline-block;
}

a[href$=".doc"]:not(.wp-block-file__button)::before,
a[href$=".docx"]:not(.wp-block-file__button)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1c2";
  margin-right: 15px;
  display: inline-block;
}

a[href$=".pdf"]:not(.wp-block-file__button)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1c1";
  margin-right: 15px;
  display: inline-block;
}

a[href$=".pdf"] > i.fa,
a[href$=".doc"] > i.fa,
a[href$=".docx"] > i.fa {
  display: none;
}
