/* MENU FULL-SCREEN */
@media only screen and (max-width: 990px) {
    .button_container {
        width: 35px;
        cursor: pointer;
        z-index: 100;
        transition: opacity .25s ease;
        position: absolute;
        top: 9px;
        height: 20px;
        right: 10px;
    }

    .button_container:hover {
        opacity: .7;
    }

    .button_container.active .top {
        -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: #FFF;
    }

    .button_container.active .middle {
        opacity: 0;
        background: #FFF;
    }

    .button_container.active .bottom {
        -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: #FFF;
    }

    .button_container span {
        background: #ffffff;
        border: none;
        height: 4px;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        transition: all .35s ease;
        cursor: pointer;
        display: block;
        border-radius: 2px;
    }

    .button_container span:nth-of-type(2) {
        top: 4px;
    }

    .button_container span:nth-of-type(3) {
        top: 8px;
    }

    .overlay {
        position: fixed;
        background: #5e326fe6;
        top: 76px;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;
    }

    .overlay.open {
        opacity: 1;
        visibility: visible;
        height: 100%;
    }

    .overlay.open li {
        -webkit-animation: fadeInRight .5s ease forwards;
        animation: fadeInRight .5s ease forwards;
        -webkit-animation-delay: .35s;
        animation-delay: .35s;
    }

    .overlay.open li:nth-of-type(2) {
        -webkit-animation-delay: .4s;
        animation-delay: .4s;
    }

    .overlay.open li:nth-of-type(3) {
        -webkit-animation-delay: .45s;
        animation-delay: .45s;
    }

    .overlay.open li:nth-of-type(4) {
        -webkit-animation-delay: .50s;
        animation-delay: .50s;
    }

    .overlay.open #top-menu li a {
        display: inherit;
        position: relative;
        color: #FFF !important;
        text-decoration: none;
        overflow: visible;
    }

    .overlay nav {
        /* position: relative; */
        height: 100%;
        /* -webkit-transform: translateY(-50%); */
        /* transform: translateY(-50%); */
        /* font-size: 50px; */
        /* font-family: 'Vollkorn', serif; */
        /* font-weight: 400; */
        /* text-align: center; */
        /* padding: 20px; */
        left: 0;
        width: 100%;
        top: 0;
    }

    .overlay ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        /* position: relative; */
        /* height: 100%; */
    }

    ul#main-menu {
        top: 0;
        padding: 20px;
        position: relative;
        width: 100%;
        height: 100%;
        background: #00000087;
        margin: 0 !important;
    }

    .overlay ul li {
        display: block;
        /* height: 85px; */
        /* height: calc(100% / 4); */
        /* min-height: 50px; */
        position: relative;
        opacity: 0;
    }

    .overlay ul li a {
        display: block;
        position: relative;
        color: #FFF !important;
        text-decoration: none;
        overflow: hidden;
        padding: 5px 15px;
    }
    .overlay ul li .dropdown-menu a {        
        color: #5e326f !important;        
    }

    .overlay ul li a:hover:after,
    .overlay ul li a:focus:after,
    .overlay ul li a:active:after {
/*         width: 100%; */
    }

    .dropdown-item a {
        color: #212529;
    }

    .overlay ul li a:after {
        content: '';
        position: absolute;
        bottom: 0;
        /* left: 50%; */
        width: 0%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 3px;
        background: #FFF;
        transition: .35s;
    }
.overlay #main-menu li a:after{
    /* content: '+'; */
    position: absolute;
    bottom: 8px;
    /* left: 0; */
    /* width: 10%; */
    -webkit-transform: translateX(-0%);
    transform: translateX(0%);
    /* height: 3px; */
    background: transparent;
    transition: .35s;
}
    .overlay #top-menu {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%;
    }

    .overlay.open #top-menu li {
        -webkit-animation: fadeInRight .5s ease forwards;
        animation: fadeInRight .5s ease forwards;
        -webkit-animation-delay: .35s;
        animation-delay: .35s;
        display: inline;
        height: auto;
    }
    .overlay.open #top-menu li:first-child {
        display: block;
        height: auto;
    }

    .overlay.open #top-menu li:nth-of-type(2) {
        -webkit-animation-delay: .4s;
        animation-delay: .4s;
    }

    .overlay.open #top-menu li:nth-of-type(3) {
        -webkit-animation-delay: .45s;
        animation-delay: .45s;
    }

    .overlay.open #top-menu li:nth-of-type(4) {
        -webkit-animation-delay: .50s;
        animation-delay: .50s;
    }

    .overlay nav #top-menu {
        position: relative;
        height: auto;
        /* -webkit-transform: translateY(-50%); */
        /* transform: translateY(-50%); */
        font-size: 13px;
        /* font-family: 'Vollkorn', serif; */
        /* font-weight: 400; */
        /* text-align: center; */
        /* padding: 20px; */
        /* left: 0; */
        width: 100%;
        top: 0;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        padding: 20px;
        /* background: #5e326f; */
    }

    .overlay #top-menu {
        /* list-style: none; */
        /* padding: 0; */
        /* margin: 0 auto; */
        /* display: inline-block; */
        /* position: relative; */
        /* height: 100%; */
    }

    .overlay #top-menu li {
        display: block;
        height: 85px;
        /* height: calc(100% / 4); */
        /* min-height: 50px; */
        position: relative;
        opacity: 0;
    }

    .overlay #top-menu li a {
        display: block;
        position: relative;
        color: #FFF !important;
        text-decoration: none;
        overflow: hidden;
    }

    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 20%;
        }

        100% {
            opacity: 1;
            left: 0;
        }
    }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 20%;
        }

        100% {
            opacity: 1;
            left: 0;
        }
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 991px) {
    .button_container {
        display: none;
    }

    .button_container:hover {
        opacity: .7;
    }

    .button_container.active .top {
        -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: #FFF;
    }

    .button_container.active .middle {
        opacity: 0;
        background: #FFF;
    }

    .button_container.active .bottom {
        -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: #FFF;
    }

    .button_container span {
        background: #572f67;
        border: none;
        height: 4px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .35s ease;
        cursor: pointer;
    }

    .button_container span:nth-of-type(2) {
        top: 10px;
    }

    .button_container span:nth-of-type(3) {
        top: 20px;
    }

    .overlay {
        top: 0;
        left: 50%;
        /* width: 50%; */
        height: 36px;
        opacity: 1;
        visibility: visible;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: visible;
        /* z-index: 60000000000000; */
        border-radius: 10px;
        text-align: right;
    }

    .overlay.open {
        opacity: 1;
        visibility: visible;
        height: 100%;
    }

    .overlay.open li {
        -webkit-animation: fadeInRight .5s ease forwards;
        animation: fadeInRight .5s ease forwards;
        -webkit-animation-delay: .35s;
        animation-delay: .35s;
    }

    .overlay.open li:nth-of-type(2) {
        -webkit-animation-delay: .4s;
        animation-delay: .4s;
    }

    .overlay.open li:nth-of-type(3) {
        -webkit-animation-delay: .45s;
        animation-delay: .45s;
    }

    .overlay.open li:nth-of-type(4) {
        -webkit-animation-delay: .50s;
        animation-delay: .50s;
    }

    .overlay.open #top-menu li a {
        display: inherit;
        position: relative;
        color: #FFF !important;
        text-decoration: none;
        overflow: visible;
    }

    .overlay nav {
        /* position: relative; */
        /* height: 100%; */
        /* -webkit-transform: translateY(-50%); */
        /* transform: translateY(-50%); */
        /* font-size: 50px; */
        /* font-family: 'Vollkorn', serif; */
        /* font-weight: 400; */
        /* text-align: center; */
        /* padding: 0; */
        /* left: 50%; */
        /* width: 50%; */
        /* top: 0; */
        /* text-align: right; */
    }

    .overlay ul {
        /* list-style: none; */
        /* padding: 0; */
        /* margin: 0 auto; */
        /* display: inline-block; */
        /* position: relative; */
        /* height: 100%; */
    }

    ul#main-menu {
        /* top: 0; */
        /* padding: 0; */
        /* margin: auto; */
        /* position: fixed; */
        /* width: 100%; */
        /* height: 100%; */
    }

    .overlay #main-menu ul li {
    margin: 0 10px;
    }

    .overlay ul li a {
        /* display: block; */
        /* position: relative; */
        /* color: #FFF !important; */
        /* text-decoration: none; */
        /* overflow: hidden; */
    }

    .overlay ul li a:hover:after,
    .overlay ul li a:focus:after,
    .overlay ul li a:active:after {
        /* width: 100%; */
    }

    .overlay ul li a:after {
/*         content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 3px;
        background: #FFF;
        transition: .35s; */
    }

    .overlay #top-menu {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%;
    }

    .overlay.open #top-menu li {
        -webkit-animation: fadeInRight .5s ease forwards;
        animation: fadeInRight .5s ease forwards;
        -webkit-animation-delay: .35s;
        animation-delay: .35s;
        display: inline;
        height: auto;
    }

    .overlay.open #top-menu li:nth-of-type(2) {
        -webkit-animation-delay: .4s;
        animation-delay: .4s;
    }

    .overlay.open #top-menu li:nth-of-type(3) {
        -webkit-animation-delay: .45s;
        animation-delay: .45s;
    }

    .overlay.open #top-menu li:nth-of-type(4) {
        -webkit-animation-delay: .50s;
        animation-delay: .50s;
    }

    .overlay nav #top-menu {
        /* position: relative; */
        /* height: 100%; */
        /* -webkit-transform: translateY(-50%); */
        /* transform: translateY(-50%); */
        /* font-size: 50px; */
        /* font-family: 'Vollkorn', serif; */
        /* font-weight: 400; */
        /* text-align: center; */
        /* padding: 0; */
        /* right: 0; */
        width: 100%;
        top: 0;
        display: flex;
        justify-content: flex-end;
        align-items: start;
    }

    .overlay #top-menu {
        /* list-style: none; */
        /* padding: 0; */
        /* margin: 0 auto; */
        /* display: inline-block; */
        /* position: relative; */
        /* height: 100%; */
    }

    .overlay #top-menu li {
        display: inline-block !important;
        height: auto;
        /* height: calc(100% / 4); */
        /* min-height: 50px; */
        /* position: relative; */
        /* opacity: 1; */
        width: auto;
        vertical-align: top;
    }

    .overlay #top-menu li a {
        display: block;
        /* position: relative; */
        /* color: #000 !important; */
        /* text-decoration: none; */
        /* overflow: visible; */
        width: auto;
        /* height: 20px; */
        /* line-height: 20px; */
    }

/*     .overlay #top-menu li a:hover:after,
    .overlay #top-menu li a:focus:after,
    .overlay #top-menu li a:active:after {
        width: 100%;
    }

    .overlay #top-menu li a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 3px;
        background: #FFF;
        transition: .35s;
    } */
}