/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        /* background: greenyellow; */
    }

    .navbar-brand img {
        padding-right: 11px;
        margin-right: 11px;
        border-right: 1px solid black;
        float: left;
        max-height: 40px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
    }

    #content {
        padding: 50px 0;
    }

    .navbar {
        background-image: url(../img/shape_1_lg.svg);
        background-repeat: no-repeat;
        background-position: top center;
        padding: 2px 0 0px 0;
    }

    .navbar-brand {
        padding: 8px 0 2px 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #707070;
        font-size: 18px;
        line-height: 18px;
        vertical-align: top;
    }

    .navbar-brand.alt {
        margin-top: 2px;
        margin-left: 25px;
        display: inline-flex !important;
        align-self: start;
    }

    .navbar-brand small {
        font-size: 11px;
        line-height: 12px;
    }

    .navbar-brand img {
        padding-right: 18px;
        margin: 3px 18px 0 0;
        border-right: 1px solid black;
        float: left;
        max-height: 50px;
    }

    ul#main-menu > li > a {
        font-size: 14px;
        padding: 0px 0px 0px 20px;
        color: #707070;
    }

    #top-menu li a {
        font-size: 10px;
        padding: 0px 13px;
    }

    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        /* height: 56px; */
    }

    #top-menu li:last-child a {
        padding-right: 0px;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-40 {
        width: 40% !important;
    }

    .w-md-33 {
        width: 33% !important;
    }

    .w-md-25 {
        width: 25% !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body p {
        font-size: 14px;
        line-height: 19px;
    }

    .btn-simple {
        padding: 0;
        font-size: 15px;
    }

    .btn-simple i {
        font-size: 12px;
    }

    .navbar {
        background-image: url(../img/shape_1_lg.svg);
    }

    .navbar .container {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .transparencia h3 {
        font-family: SegoeUI;
        font-size: 28px;
        line-height: 30px;
        font-weight: 600;
    }

    .transparencia.bg-01 {
        background-image: url(../img/transparencia_bg_lg.svg);
        #background-size: cover; background-repeat: no-repeat;
        background-position: bottom left;
    }

    .transparencia p {
        font-family: SegoeUI;
        font-size: 18px;
        font-weight: 500;
        line-height: 18px;
    }

    .transparencia {
        padding: 110px 0;
    }

    article span.category {
        font-size: 13px;
        line-height: 17px;
        display: inline-flex;
    }

    article h3 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 23px;
        font-weight: bold;
        line-height: 25px;
    }

    article h4 {
        font-size: 16px;
        font-weight: bold;
        line-height: 16px;
    }

    article small {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        color: #959595;
        font-weight: 400;
        line-height: 12px;
        margin-bottom: 7px;
    }

    article p {
        font-size: 18px;
        line-height: 21px;
    }

    h1.title {
        font-family: SegoeUI;
        font-size: 38px;
        line-height: 40px;
        font-weight: 600;
    }

    #tour-360 p {
        font-size: 20px;
        line-height: 21px;
    }

    h3.title {
        font-size: 36px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 36px;
    }

    h4.title {
        font-size: 36px;
        line-height: 36px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .events li h4 {
        color: black;
        font-weight: 900;
        font-family: SegoeUI;
        font-size: 19px;
        text-transform: uppercase;
    }

    .events li small {
        font-size: 11px;
        padding: 0;
        line-height: 13x;
        margin: 0;
        font-weight: bold;
        color: var(--violet);
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-40 {
        width: 40% !important;
    }

    .w-lg-33 {
        width: 33% !important;
    }

    .w-lg-25 {
        width: 25% !important;
    }

    .bg-03 {
        background-color: #fcf6eb;
    }

    .leis .wrapper {
        background-image: url(../img/bg_leis_home_lg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        transform: translateY(-15px);
    }

    .leis {
        background-color: #e5e5bf;
        background-image: none;
        /* border-top: 50px solid transparent; */
        /* position: relative; */
        width: 100%;
        padding-bottom: 0;
    }

    .leis p {
        font-family: SegoeUI;
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
    }

    .telefone-uteis p {
        font-size: 14px;
        line-height: 16px;
    }

    .telefone-uteis {
        text-align: right !important;
    }

    .alert strong:first-child {
        font-size: 20px;
        line-height: 22px;
        font-weight: 600;
    }

    footer.mastfoot {
        background-image: url(../img/footer_bg_lg.svg);
        background-position: 50% calc(100% + 35px);
        background-repeat: no-repeat;
        background-color: #eeeaf0;
        padding-top: 0px;
        padding-bottom: 3px !important;
        margin-top: -15px !important;
    }

    footer.mastfoot p {
        font-size: 12px;
        line-height: 18px;
    }

    footer .social {
        margin: 0;
    }

    footer ul li a {
        font-size: 12px;
        line-height: 12px;
        margin: 0;
        padding: 0;
    }

    footer ul li {
        font-size: 14px;
        line-height: 14px;
        margin: 0 0 10px 0;
        padding: 0;
    }

    .publicacoes-legais {
        background: none;
    }

    /*   CONTENT   */
    .hentry p {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 25px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body p {
        font-size: 16px;
        line-height: 18px;
    }

    .navbar {
        background-image: url(../img/shape_1_md.svg);
    }

    .transparencia h3, .leis h3 {
        font-family: SegoeUI;
        font-size: 38px;
        line-height: 40px;
        font-weight: 600;
    }

    .transparencia p, .telefone-uteis p {
        font-family: SegoeUI;
        font-size: 18px;
        font-weight: 500;
        line-height: 18px;
    }

    .carousel-caption {
        position: absolute;
        bottom: 0px;
        top: 0;
        left: 0;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 0px;
        color: #fff;
        text-align: left;
        text-shadow: 0px 2px 3px black;
        line-height: 10px;
        align-items: center;
        justify-content: center;
        width: 100%;
        right: 0;
    }

    .carousel-caption .container {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    .carousel-caption h5 {
        font-size: 80px;
        line-height: 69px;
        font-family: SegoeUI;
        font-weight: 600;
        text-transform: uppercase;
    }

    .carousel-caption p {
        font-size: 25px;
        line-height: 25px;
        margin: 0;
        font-family: SegoeUI;
        font-style: italic;
        font-weight: 400;
        text-transform: uppercase;
    }

    .transparencia {
    }

    .transparencia.bg-01 {
        background-image: url(../img/transparencia_bg_lg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;
    }

    .telefone-uteis {
        text-align: center !important;
    }

    .publicacoes li a {
        font-size: 14px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navbar {
        background-image: url(../img/shape_1_lg.svg);
    }
}
